body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
}
button {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#results {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}
#copyButton {
    top: 5px;
    right: 5px;
    display: none; /* Initially hidden */
}
/* Toggle Switch Styles */
.devModeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-left: 10px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
.slider.round {
    border-radius: 28px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Normal Mode Buttons */
button {
    background-color: #4CAF50; /* Blue */
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Darker Blue */
}

/* Developer Mode Buttons */
.dev-tools {
    display: none;
}

.dev-tools button {
    background-color: #FFA500; /* Orange */
    color: white;
    transition: background-color 0.3s;
}

.dev-tools button:hover {
    background-color: #cc8400; /* Darker Orange */
}
